/* Estilo Geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101820;
    color: #fff;
    margin-left: 250px; /* Largura da sidebar */
    padding: 0;
    height: 100vh;
    text-align: center
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
}


.separator {
    margin: 0 8px; /* Espaçamento ao redor do separador */
    color: white; /* Cor do separador */
    font-weight: bold; /* Se você quiser que o traço seja mais forte */
    margin-left: 10px;
    margin-right: 10px;
}


.sidebar {
    width: 250px; /* Defina uma largura fixa para a sidebar */
    background-color: #f8f9fa; /* Cor de fundo da sidebar */
    position: fixed; /* Mantém a sidebar fixa na tela */
    height: 100%; /* Faz a sidebar ocupar toda a altura da tela */
    overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
    flex-direction: column; /* Organiza os elementos na coluna */
}

.sidebar a {
    display: flex; /* Utiliza flexbox para alinhar os itens */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}

.sidebar a svg {
    margin-right: 8px; /* Adiciona espaçamento à direita do SVG */
}


.logo-container {
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente */
    align-items: center; /* Centraliza a logo verticalmente */
    width: 100%; /* Garante que o contêiner use toda a largura */
}

.logo-image {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

/* Ajuste adicional para evitar que o texto saia da sidebar */
.sidebar a {
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    overflow: hidden; /* Oculta o texto que excede a largura */
    text-overflow: ellipsis; /* Adiciona reticências se o texto exceder a largura */
}

.logo h1 span {
    margin-left: 5px; /* Adiciona um espaço entre as palavras "Brazil" e "Inverters" */
}

header .logo h1 {
    color: #00bfff;
}

/* Estilos para a Navbar */
.navbar-container {
    display: flex;
    margin-right: 15rem;
    justify-content: space-between; /* Distribui os elementos esquerda e direita */
    width: 100%;
    align-items: center; /* Centraliza verticalmente */
    background-color: #1a1a1a;
    gap: 15px; /* Espaço entre os blocos */
    position: relative;
    left: 22px; /* Move para a direita */
    top: 6px;  /* Move para baixo */

}

.nav-right {
    margin-left: 35px;
    display: flex;
    justify-content: flex-end; /* Empurra os itens para a direita */
    flex-grow: 1; /* Faz com que o contêiner ocupe o máximo de espaço */
}

.nav-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px; /* Espaço entre os itens */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-right ul li {
    white-space: nowrap; /* Evita quebra de linha */
}

.navbar-container nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centraliza os itens do menu */
    align-items: center; /* Centraliza verticalmente */
    margin: 0;
    padding: 0;
}

.navbar-container nav ul li {
    margin: 0 16px;
}

.navbar-container nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-container nav ul li a:hover {
    color: #00bfff;
}

/* Banner */
.banner {
    text-align: center;
    padding: 100px 20px;
    background: url('banner.jpg') no-repeat center center/cover;
    background-color: #000;
}

.banner h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #00bfff;
}

.banner p {
    font-size: 24px;
    margin-bottom: 40px;
}

.banner .btn {
    background-color: #00bfff;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.banner .btn:hover {
    background-color: #008fb3;
}

/* Galeria de Jogos */
.game-gallery {
    padding: 50px 20px;
    text-align: center;
    background-color: #151515;
}

.game-gallery h2 {
    font-size: 36px;
    color: #00bfff;
    margin-bottom: 40px;
}

.games {
    display: flex;
    justify-content: space-around;
}

.game-card {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.game-card img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.game-card h3 {
    font-size: 22px;
    color: #00bfff;
    margin-bottom: 10px;
}

.game-card p {
    font-size: 18px;
    color: #bbb;
}

#games-list .game-image {
    width: 100%; /* Faz as imagens ocuparem toda a largura do seu contêiner */
    height: auto; /* Mantém a proporção das imagens */
}

/* Rodapé */
footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    color: #bbb;
}


/* Logo e Texto */
.logo {
    margin-left: 60px;
    text-align: center; /* Centraliza o texto da logo */
}

.logo h1 {
    background: linear-gradient(90deg, blue, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    text-align: center;
}

.logo {
    white-space: nowrap; /* Impede que o texto quebre em uma nova linha */
    display: flex; /* Garante que o título seja exibido em uma linha */
    align-items: center; /* Centraliza verticalmente o conteúdo dentro do container */
    justify-content: center; /* Centraliza horizontalmente o título */
}

.logo h1 {
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 0; /* Remove espaçamento desnecessário */
    padding: 0; /* Remove espaçamento desnecessário */
}

.logo span {
    font-weight: bold; /* Para dar ênfase à palavra "Inverters" */
}


/* Barra lateral de navegação */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1e1e1e; /* Cor de fundo escura */
    padding-top: 20px;
}   

.sidebar a.logo-sidebar {
    text-align: center;
    padding: 10px;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.sidebar a.logo-sidebar img {
    width: 40px;
    margin-right: 10px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ccc;
    padding: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #00bfff; /* Cor azul ao passar o mouse */
    color: #00bfff; /* Cor azul ao passar o mouse */
    background-color: rgba(0, 191, 255, 0.1); /* Fundo claro ao passar o mouse */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra no texto */
}

.sidebar nav ul li a img {
    width: 24px;
    margin-right: 10px;
}

.sidebar-list li a svg {
    margin-right: 10px; /* Espaçamento entre o ícone SVG e o texto */
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    background-color: #f4f4f4;
    height: 100vh;
}

/* Barra de Pesquisa */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}



#search-bar {
    width: 240px; /* Diminui o tamanho da barra */
    padding: 6px;
    border: 2px solid #ccc; /* Define uma borda inicial cinza clara */
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 14px;
    transition: all 0.4s ease-in-out; /* Transição suave para todas as propriedades */
}

#search-bar:focus {
    border-color: #00bfff; /* A borda azul aparece ao focar */
    box-shadow: 0 0 5px 2px rgba(0, 191, 255, 0.5); /* Animação de sombra azul */
}

#search-button {
    padding: 8px 15px;
    background-color: #00bfff;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #008fb3;
}

/* Estilos da seção de jogos */
.game-gallery {
    padding: 40px;
}

.games {
    display: flex;
    justify-content: space-around;
}

.game-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 150px;
}

.game-card img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.banner {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.btn {
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilização do Carrossel */
.carousel {
    position: relative;
    overflow: hidden;
    max-height: 600px; /* Aumentar a altura do carrossel */
    top: 10%;
}

.carousel-inner img {
    border-radius: 20px; /* Bordas mais arredondadas */
    filter: brightness(0.9); /* Levemente escurecido para destaque */
}

/* Estilização da legenda do carrossel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas nas legendas */
    text-align: left;
    transition: background-color 0.3s; /* Transição suave para o fundo */
}

.carousel-caption:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Escurecer fundo ao passar o mouse */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.8); /* Cor dos controles mais clara */
    border-radius: 50%; /* Controles arredondados */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(255, 255, 255, 1); /* Escurecer ao passar o mouse */
}

/* Aumentar a fonte do título e do texto na legenda */
.carousel-caption h5 {
    font-size: 2rem; /* Tamanho maior para o título */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra no texto do título */
}

.carousel-caption p {
    font-size: 1.25rem; /* Tamanho maior para a descrição */
}

.carousel-item {
    height: 400px; /* Altura fixa para o carrossel */
}

.carousel-item img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do carrossel */
    height: 414px; /* Altura fixa, ajuste conforme necessário */
    object-fit: cover; /* Mantém a proporção da imagem */
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 500px; /* Deve ser igual à altura da imagem */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o texto */
    padding: 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilização das abas dos jogos */
#games-list {
    margin-top: 20px;
}

.list-group-item {
    background-color: transparent; /* Fundo transparente */
    border: none; /* Remover borda */
    padding: 0; /* Remover padding */
}

.game-image {
    border-radius: 10px; /* Bordas arredondadas nas imagens */
    transition: transform 0.3s, box-shadow 0.3s; /* Transições para efeitos */
}

.game-image:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra ao passar o mouse */
}

#games-list .list-group-item {
    height: 200px; /* Altura fixa para os jogos */
}

#games-list .game-image {
    width: 100%; /* Ajusta a largura da imagem */
    height: 100%; /* Ajusta a altura da imagem */
    object-fit: cover; /* Mantém a proporção da imagem */
}

h4 {
    color: #fff; /* Cor do título */
    margin-bottom: 15px;
}

